/**** comienzo de header ****/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $negro;

  .logo {
    @include logo (flex, 40%);
    justify-content: space-evenly;

    margin: auto;
    padding: 30px;
  }

  .logo2 {
    @include logo (none, 100%);
    margin: auto;
    padding: 30px;
  }
  @media (min-width:481px) and (max-width:1024px) {
    .logo {
      @include logo (none, 40%);
    }

    .logo2 {
      @include logo (flex, 35%);
      justify-content: center;
    }
  }
  @media (max-width:480px) {
    .logo {
      @include logo (none, 40%);
    }

    .logo2 {
      @include logo (flex, 35%);
      justify-content: center;
    }
  }
}


/**** fin de header ****/