/**** comienzo pagina productos ****/
main {
    h5 {
        color: cadetblue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: lowercase;

    }

    .col {
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 30px;
    }
}